#array_info_wrapper {
    display : flex;
    flex-direction: column;
}

#array_example_wrapper {
    display : flex;
    align-items: center;
    justify-content: center;
    height : 325px;
    flex-direction: column;
}

.array_form {
    font-size: 60px;
    font-weight: 900;
}

.array_example_data {
    display : flex;
    align-items: center;
    width : 90%;
    font-size: 30px;
    justify-content: space-evenly;
    /* margin-top : 20px; */
}

.index_list {
    width : 100%;
    font-weight: 900;
    color: #bdbdbd;
    justify-content: space-between;
    margin-top : 20px;
}

.index_list div {
    width: 100px;
    display: flex;
}

#first_index {
    justify-content: flex-end;
    width : 120px;
}

#four_index {
    width : 145px
}

.blue {
    color : #2D46B9;
}

.red {
    color : #B42B51;
}

#array_example_ment {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #ababab;
    text-align: center;
    font-size: 30px;
    height: 150px;
    flex-direction: column;
}

.purple {
    color : #AE00FB;
}

.array_example {
    padding : 0px 20px;
    color : #AE00FB;
    font-weight: 900;
}

.underline {
    border-bottom: solid 3px black;
    padding-bottom: 40px;
    margin-top : 65px;
}

#length_size {
    color : #AE00FB;
}

#array_rows {
    display: flex;
    justify-content: center;
    width: 100%;
}

#length_result {
    font-size: 60px;
}